

<br />
<br />
<pre id="ligaList" style="background-color:dodgerblue; color:white; font-weight:bolder"></pre>

<br />

@section scripts {
    <script src="/js/Ligas.js"></script>
}







@* <table id="tblLigas" class="table-striped table-bordered" style="width:100%">
    <thead><tr>
        <th>Id      </th>
        <th>Nombre  </th>
        <th>Deporte </th>
        <th>País    </th>
        <th>Nivel   </th>
        <th>Acciones</th>
    </tr></thead>
</table> *@